#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.slider {
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
}

#para {
    font-size: 40px;
}

#projects h1 {
    background: linear-gradient(to right, rgb(137, 22, 108), white);
    background-clip: text;
    color: transparent;
    text-align: center;
}