#contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.leftcontact {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftcontact img {
    width: 80%;
    height: 400px;
    border-radius: 50px;
    filter:drop-shadow(2px 2px 30px rgb(33, 165, 205))
    

}

.rightcontact {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 70%;
    height: 65%;
    background-color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(0, 247, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

form input {
    width: 80%;
    height: 50px;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

#textarea {
    width: 80%;
    height: 200px;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

#btn {
    width: 80px;
    height: 30px;
    background-color: rgb(73, 193, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
    transform: all 0.3s;
    cursor: pointer;
}

#btn:hover {
    background: transparent;
    color: rgb(73, 193, 211);
}

@media (max-width:750px) {
    #contact {
        flex-direction: column;
    }
    .leftcontact {
        width: 100%;
        height: 50vh;
    }
    .rightcontact {
        width: 100%;
        
    }
}