#about {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftabout {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.circle-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(210, 72, 206);
    box-shadow: 2px 2px 30px rgb(210, 72, 206) ;
}

.line {
    width: 2px;
    height: 100px;
    background-color: aliceblue;
}

.aboutdetails {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.aboutdetails ul {
    list-style: none;
}

.aboutdetails h1 {
    background: linear-gradient(to right, rgb(142, 31, 206), white);
    background-clip: text;
    color: transparent;
}

.aboutdetails li {
    color: white;
}

.aboutdetails span {
    color: rgb(210, 72, 206);
}

.rightabout {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:750px) {
    #about {
        flex-direction: column;
    }
    .leftabout {
        width: 100%;
        padding: 10%;
    }
    .rightabout {
        width: 100%;
    }
    
}