nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    position: fixed;
    top: 0;
    z-index: 20;
     background-color: rgb(25, 31, 37);
}

nav ul a {
    cursor: pointer;
}
nav ul a:hover {
     color: aqua;
    border-bottom: 2px solid aqua;
}

.active {
    color: aqua;
    border-bottom: 2px solid aqua;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav h1 {
    font-size: 30px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(157, 21, 48), white);
    background-clip: text;
    color: transparent;
}

.hambuger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: none;
   
}
.ham {
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s ease-in-out;
}

.mobilemenu {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 31, 37, 0.215);
    backdrop-filter: blur(7px);
    right: 0;
    transform: translateX(100%);
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    gap: 40px;
}

.activemobile {
    transform: translateX(0);
}

.activeham .ham:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 10px;
}
.activeham .ham:nth-child(2) {
    opacity: 0;
}
.activeham .ham:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -10px;
}

@media (max-width:750px) {
    .desktopmenu{
        display: none;
    }
    .hambuger{
        display: flex;
    }
}