#home {
    width: 100%;
    height: 100%;
    display: flex;
}

.lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.righthome img {
    width: 30%;
    filter: drop-shadow(2px 2px 20px rgb(44, 172, 194));
}

.homedetails {
    font-size: 2vmax;
}
.line1 {
    font-size: 1em;
}
.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, red, white);
    background-clip: text;
    color: transparent;
}
.line3 {
    font-size: 1.3em;
}

.homedetails button {
    padding: 10px 20px;
    background-color: rgb(56, 217, 229);
    color: black;
    border: 2px solid rgb(56, 217, 229);
    margin-top: 30px;
    border-radius: 20px;
    font-size: 18px;
    transition: all 0.2s;
    cursor: pointer;

}

.homedetails button:hover {
    background-color: transparent;
    color:  rgb(56, 217, 229);
}

@media (max-width:750px) {
   #home {
    flex-direction: column-reverse;
   }
   .lefthome {
    width: 100%;
    height: 50vh;
     
   }
   .righthome {
    width: 100%;
    height: 50vh;
    align-items: end;
   }
    
}

