.card {
    width: 90%;
    max-width: 400px;
    height: 170px;
    background: linear-gradient(to top, rgba(0, 234, 255, 0.462), rgba(0, 0, 0, 0.906));
    color: rgb(28, 206, 212);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 2px 2px 30px black;   
    border-radius: 15px;
    flex-shrink: 0;
    padding: 10px;
}

.card:hover {
    box-shadow: 2px 2px 30px ;
}

.hovercard img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 2px 10px black);
  opacity: 0.7;
}

.hovercard {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.card:hover .hovercard {
    transform: translateY(0%);
}